<% if defined?(image) && image %>
  <%= image_tag image.attachment.url(:product), :itemprop => "image" %><h2>fweeeeeeeeeeeeeeeee</h2>
<% else %>
  <%= large_image(@product, :itemprop => "image") %>
<% end %>
