#product-view.pannier-inside{
  padding: 30px;
}
.pannier-table{
  margin-top:30px;
  padding-left:30px;
}
#cart-detail{
  background-color: #F7F7F7;
}
#cart-detail th{
 padding: 20px; 
 background-color: #5F97C1;
 color: #FFFFFF;
 border: solid 2px #FFFFFF;
}
#cart-detail th.cart-item-delete-header{
 border-left-style: none
}
#cart-detail th.cart-item-total-header{
 border-right-style: none
}
#cart-detail th.cart-item-description-header:after{
 content: ' Mes Produits';
}
#line_items .line-item{
   border: solid 2px #FFFFFF;
}
#line_items .line-item td{
   border: solid 2px #FFFFFF;
   padding: 15px;
}
#line_items .line-item.alt{
    background-color: #ECE9FF;
}
