#product-description .product-title{
  font-size: 20px;
  color: #5e5d5d;
  font-weight:700;
  margin-bottom:0;
  padding-bottom:0;
}
#product-description .sku-code{
  font-size:12px;
  color: #666666;
    margin-top:0;
  padding-top:0;
}
#product-price h6{
  display: none;
}
#product-price .price-original{
  font-size:16px;
  margin:0;
  padding:0;
  color:#777777;
  text-decoration:line-through;
}
.price.selling.detail{
  color: #D9534F;
  font-size:30px;
  font-weight:600;
    margin:0;
  padding:0;
}
.add-to-cart input{
  display: none;
}
.add-to-cart button{
margin-top:10px;
width:50%;
}
.livraison-info.detail{
  font-size:16px;
}
.livraison-info.detail-no{
  color: gray;
}
.ok-to-ask, .never-ask{
  color: #5e5d5d;
  font-size:14px;
  margin:5px;
  padding:0;
  font-weight:700;
}
#breadcrumbs{
  display: none;
}
